@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to your new book club. Are you a writer trying to build a platform?</p>
<p>Are you a book lover looking to connect with other book lovers? At the Digital Book Club, you will find what you're looking for.</p>
