@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Digital Book Club</h1>
    <p class="lead">The premier home for readers and writers</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Check Out Our Current Book Clubs</h2>
        <p>
            With the group feature, you get to create, or join up any group that fits your kind of taste. Gather with like minds and feel at home.
        </p>
        <p><a class="btn btn-default"  @Html.ActionLink("Member Groups", "Index", "GroupAdmin")>&raquo;</a></p>>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hot Off The Shelves</h2>
        <p>Check out the current New York Times Bestsellers to see what people are reading and talking about the most. Very good conversation starters for the connections you make here.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Bestsellers", "GetBestsellerFromApi", "BookAPI")>&raquo;</a></p>
    </div>
</div>